[submodule "TaskMateServer"]
	path = TaskMateServer
	url = https://github.com/xierongchuan/TaskMateServer.git
[submodule "TaskMateClient"]
	path = TaskMateClient
	url = https://github.com/xierongchuan/TaskMateClient.git
[submodule "TaskMateTelegramBot"]
	path = TaskMateTelegramBot
	url = https://github.com/xierongchuan/TaskMateTelegramBot.git
