[submodule "TaskMateTelegramBot"]
	path = TaskMateTelegramBot
	url = https://github.com/xierongchuan/TaskMateTelegramBot.git
[submodule "TaskMateFrontend"]
	path = TaskMateFrontend
	url = https://github.com/xierongchuan/TaskMateFrontend.git
[submodule "TaskMateAPI"]
	path = TaskMateAPI
	url = https://github.com/xierongchuan/TaskMateAPI.git
[submodule "VanillaFlowTelegramBot"]
	path = VanillaFlowTelegramBot
	url = https://github.com/xierongchuan/VanillaFlowTelegramBot.git
