[submodule "TaskMateBackend"]
	path = TaskMateServer
	url = https://github.com/xierongchuan/TaskMateServer.git
[submodule "TaskMateFrontend"]
	path = TaskMateClient
	url = https://github.com/xierongchuan/TaskMateClient.git
