services:
    backend_api:
        volumes:
            - ./TaskMateBackend/:/var/www/backend_api

    backend_scheduler:
        volumes:
            - ./TaskMateBackend/:/var/www/backend_api

    postgres:
        ports:
            - "5432:5432"

    valkey:
        ports:
            - "6379:6379"

    src_frontend:
        ports:
            - "8099:80"

    nginx:
        ports:
            - "8007:8007"
        volumes:
            - ./nginx/nginx.local.conf:/etc/nginx/conf.d/default.conf:ro
            - /dev/null:/docker-entrypoint.d/20-envsubst-on-templates.sh:ro

    pgadmin:
        image: dpage/pgadmin4:latest
        container_name: taskmate_pgadmin
        restart: on-failure
        env_file: [ ./.env ]
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
        ports:
            - "8081:80"
        volumes:
            - pgadmin_data:/var/lib/pgadmin
        depends_on:
            - postgres
        networks:
            - web
        profiles: [ "dev" ]
