services:
    backend_api:
        volumes:
            - ./TaskMateServer/:/app:z
        ports:
            - "8007:8000"

    backend_scheduler:
        volumes:
            - ./TaskMateServer/:/app:z

    postgres:
        ports:
            - "5432:5432"

    valkey:
        ports:
            - "6379:6379"

    rabbitmq:
        ports:
            - "15672:15672"

    src_frontend: {}

    nginx:
        ports:
            - "8099:80"
        volumes:
            - ./nginx/nginx.local.conf:/etc/nginx/conf.d/default.conf:ro,Z
            - ./nginx/empty.sh:/docker-entrypoint.d/20-envsubst-on-templates.sh:ro,Z

    pgadmin:
        image: docker.io/dpage/pgadmin4:latest
        container_name: taskmate_pgadmin
        restart: on-failure
        env_file: [ ./.env ]
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
        ports:
            - "8081:80"
        volumes:
            - pgadmin_data:/var/lib/pgadmin
        depends_on:
            - postgres
        networks:
            - web
        profiles: [ "dev" ]

volumes:
    pgadmin_data:
