services:
  devcontainer:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile.devcontainer
    container_name: taskmate_devcontainer
    volumes:
      - .:/workspace:cached
    environment:
      APP_DEBUG: "true"
      APP_ENV: local
      DB_CONNECTION: pgsql
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: taskmatebackend
      DB_USERNAME: postgres
      DB_PASSWORD: secret
      REDIS_HOST: valkey
      REDIS_PORT: 6379
    working_dir: /workspace
    networks:
      - web
    depends_on:
      - postgres
      - valkey
    command: sleep infinity
    extra_hosts:
      - "host.docker.internal:host-gateway"
